body{
    background-color: lavender;
}

h1{
    word-spacing: 80px;
}

.menu{
    column-span: all;
}
div.a{
    background-image: url(images/background.jpg);
    
}

.title{
    font-family: 'Sansita Swashed';
    font-size: 80px;
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.content{
    max-width: 700px;
    margin: auto;
    background: black;
    padding: 30px;
}

h2{
    color:white;
    text-align: center;
}

h3{
    color: white;
    text-align: center;
    padding: 40px;
}

p{
    color: white;
    text-align: center;
}

.Jade{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid teal;
    padding: 10px;
}

.Pierrie{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 3px solid blue;
    padding: 10px;
}

.Anne{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 3px solid green;
    padding: 10px;
}

.Jesy{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 3px solid pink;
    padding: 10px;
}



.button{
    background-color: rgb(224, 97, 118);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 50px;
    font-size: 16px;
    cursor: pointer;
}

.button2{
    background-color: rgb(71, 189, 189);
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 15px;
    font-size: 16px;
    cursor: pointer;
}

div.b{
    background-image: url(images/background2.jpg);
}


h2.b{
    color: white;
    text-align: center;
}

h3.jade{
    color: teal;
}


p.jade{
    text-align: center;
    color: teal;
}

h3.pierrie{
    color: blue;
}

p.pierrie{
    text-align: center;
    color: blue;
}

h3.anne{
    color: green;
}

p.anne{
    text-align: center;
    color: green;
}

h3.jesy{
    color: pink;
}

p.jesy{
    text-align: center;
    color: pink;
}

.button3{
    background-color: lightblue;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 15px;
    font-size: 16px;
    cursor: pointer;
}

div.c{
    background-image: url(images/background3.jpg);
}

h2.c{
    color: white;
    text-align: center;
}

h3.c{
    color: white;
    font-family: 'Dancing Script'; font-size: 30px;
    text-align: center;
}


.confetti{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10px;

}


.button4{
    background-color: rgb(115, 230, 115);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 15px;
    font-size: 16px;
    cursor: pointer;
}

div.d{
    background-image: url(images/background4.jpg);

}

h2.d{
    color: black;
    text-align: center;
}

p.merchandise{
    font-family: 'Crimson Text'; 
    font-size: 20px;
    color: black;
    text-align: left;
}

.button5{
    background-color: pink;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px;
    font-size: 16px;
    cursor: pointer;
}

div.e{
    background-image: url(images/background6.jpg);
    width: 100%;
}

.content2{
    background-image: url(images/background5.jpg);
    max-width: 700px;
    margin: auto;
    padding: 30px;
}

h2.e{
    color: black;
    text-align: center;
}
table{
    font-family: 'Merriweather';
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    text-align: center;
    padding: 8px;
}

.button6{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button7{
    background-color: rgb(155, 111, 155);
    border: none;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 20px;
    font-size: 16px;
    cursor: pointer;
}

h2.confetti{
    font-family: 'Sansita Swashed';
    font-size: 35px;
    color: black;
}


img.poster{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.ig{
    font-family: 'Sansita Swashed';
}

.twitter{
    font-family: 'Sansita Swashed';
}